In [5]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
import sqlite3
import time
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

# 控制中文标题对齐

In [6]:
pd.set_option('display.unicode.ambiguous_as_wide', True)
pd.set_option('display.unicode.east_asian_width', True)
os.chdir(os.getcwd())

# 创建数据库引擎  
engine = create_engine('mysql+mysqlconnector://root:password@localhost:3306/test')  
'数据库类型+数据库驱动名称://用户名:口令@机器地址:端口号/数据库名'  
三斜杠为相对路径，四斜杠为绝对路径。  
这里的echo设置为True可以使得后面我们可以在控制台看到操作涉及的SQL语言

In [7]:
engine = create_engine('sqlite:///test.db',echo=False)

# SQLAlchemy常用数据类型：
| **类型名**   | **python****中类型** | **说明**                                            |
| ------------ | -------------------- | --------------------------------------------------- |
| Integer      | int                  | 普通整数，一般是32位                                |
| SmallInteger | int                  | 取值范围小的整数，一般是16位                        |
| BigInteger   | int或long            | 不限制精度的整数                                    |
| Float        | float                | 浮点数                                              |
| Numeric      | decimal.Decimal      | 普通整数，一般是32位                                |
| String       | str                  | 变长字符串                                          |
| Text         | str                  | 变长字符串，对较长或不限长度的字符串做了优化        |
| Unicode      | unicode              | 变长Unicode字符串                                   |
| UnicodeText  | unicode              | 变长Unicode字符串，对较长或不限长度的字符串做了优化 |
| Boolean      | bool                 | 布尔值                                              |
| Date         | datetime.date        | 时间                                                |
| Time         | datetime.datetime    | 日期和时间                                          |
| LargeBinary  | str                  | 二进制文件                                          |

# 常用的SQLAlchemy列选项
| **选项名**  | **说明**                                          |
| ----------- | ------------------------------------------------- |
| primary_key | 如果为True，代表表的主键，主键同时具有unique的属性                          |
| unique      | 如果为True，代表这列不允许出现重复的值            |
| index       | 如果为True，为这列创建索引，提高查询效率          |
| nullable    | 如果为True，允许有空值，如果为False，不允许有空值 |
| default     | 为这列定义默认值                                  |

In [8]:
from sqlalchemy import Column, Integer, String,DateTime,ForeignKey,UniqueConstraint
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

#创建一个基类
Base = declarative_base()

#从Base派生一个名为Reader的类,关联到数据库中名称为readers的表
class Reader(Base):
    __tablename__ = 'readers'
    #选取主键的一个基本原则是：不使用任何业务相关的字段作为主键。主键不允许有重复
    #身份证号、手机号、邮箱地址这些看上去可以唯一的字段，不得不修改的时候会对业务产生严重影响。均不可用作主键。
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    creat_time=Column(DateTime)
    #一个Reader对应多个book
    books=relationship("Book")
    #创建联合唯一约束
    __table_args__ = (UniqueConstraint('name', 'fullname', name='idx1'),)
    
    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s',creat_time='%s',books=<Book()>)>" % (self.name, self.fullname, self.password,self.creat_time)
    
class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    bookname = Column(String)
    auther = Column(String)
    #可以把数据与另一张表的主键关联起来，这种列称为外键，外键是可以重复的
    reader_id=Column(String,ForeignKey("readers.id"))
    
    def __repr__(self):
        return "<Book(bookname='%s', auther='%s',reader_id='%s')>" % (self.bookname, self.auther,self.reader_id)

# 根据类创建数据库表

In [9]:
Base.metadata.create_all(engine)

# 创建会话
将Session和数据库的Engine关联起来  
sessionmaker()这个函数必须在全局使用，否则会造成内存泄漏

In [10]:
#利用工厂模式获取SessionClass
SessionClass=sessionmaker(bind=engine)
#创建session对象,此时已绑定数据库引擎，但是未关联任何的对象模型
session=SessionClass()

# 向表中插入单条数据

In [7]:
import datetime
new_reader = Reader(name='sunny', fullname='sunny ho', password='123456',creat_time=datetime.datetime.now())
session.add(new_reader)
session.commit()

# 向表插入多条数据

In [8]:
new_reader1 = Reader(name='kate', fullname='kate Ms', password='123456',creat_time=datetime.datetime.now())
new_reader2 = Reader(name='kany', fullname='kany Mr', password='123456',creat_time=datetime.datetime.now())
new_reader3 = Reader(name='robin', fullname='robin Mr', password='123456',creat_time=datetime.datetime.now())
session.add_all([new_reader1,new_reader2,new_reader3])

book1=Book(bookname="诡秘之主",auther="爱潜水的乌贼",reader_id=1)
book2=Book(bookname="庆余年",auther="猫腻",reader_id=1)
book3=Book(bookname="庆余年",auther="猫腻",reader_id=2)
book4=Book(bookname="鬼吹灯",auther="烽火戏诸侯",reader_id=2)
book5=Book(bookname="惊悚乐园",auther="三天两觉",reader_id=3)
session.add_all([book1,book2,book3,book4,book5])

session.commit()

# 常用的filter操作符
等于:query.filter(User.name == 'ed')

不等于:query.filter(User.name != 'ed')

模糊查询:query.filter(User.name.like('%ed%'))

IN:query.filter(User.name.in_(['ed', 'wendy', 'jack']))


NOT IN:query.filter(~User.name.in_(['ed', 'wendy', 'jack']))

IS NULL:query.filter(User.name == None)

IS NOT NULL:query.filter(User.name != None)


AND:  
query.filter(User.name == 'ed', User.fullname == 'Ed Jones')  
query.filter(User.name == 'ed').filter(User.fullname == 'Ed Jones')  

OR:  
from sqlalchemy import or_  
query.filter(or_(User.name == 'ed', User.name == 'wendy'))  


MATCH:query.filter(User.name.match('wendy'))

# 查询符合条件的第一条数据,没有则返回none

In [16]:
our_reader = session.query(Reader).filter(Reader.name=='sunny').first()
print(our_reader)
print(our_reader.creat_time)
print(our_reader.books)

<User(name='sunny', fullname='sunny ho', password='123456',creat_time='2020-05-04 21:00:29.298314',books=<Book()>)>
2020-05-04 21:00:29.298314
[<Book(bookname='诡秘之主', auther='爱潜水的乌贼',reader_id='1')>, <Book(bookname='庆余年', auther='猫腻',reader_id='1')>, <Book(bookname='诡秘之主', auther='爱潜水的乌贼',reader_id='1')>, <Book(bookname='庆余年', auther='猫腻',reader_id='1')>, <Book(bookname='诡秘之主', auther='爱潜水的乌贼',reader_id='1')>, <Book(bookname='庆余年', auther='猫腻',reader_id='1')>, <Book(bookname='诡秘之主', auther='爱潜水的乌贼',reader_id='1')>, <Book(bookname='庆余年', auther='猫腻',reader_id='1')>]

# 查询符合条件的所有数据并排序

In [10]:
#排序，默认升序
our_reader = session.query(Reader.fullname).filter(Reader.password=='123456').filter(Reader.name=='sunny').order_by(Reader.creat_time).all()
print(our_reader)
print("\n")

#desc降序
for name, creat_time in session.query(Reader.name, Reader.creat_time).order_by(Reader.creat_time.desc()):
    print(name, creat_time)

[('sunny ho',), ('sunny ho',), ('sunny ho',), ('sunny ho',)]


kate 2020-05-05 17:55:08.716470
kany 2020-05-05 17:55:08.716470
robin 2020-05-05 17:55:08.716470
sunny 2020-05-05 17:55:08.195833
robin 2020-05-04 21:32:58.154734
kate 2020-05-04 21:32:58.153734
kany 2020-05-04 21:32:58.153734
sunny 2020-05-04 21:32:57.722700
kate 2020-05-04 21:01:28.806711
kany 2020-05-04 21:01:28.806711
robin 2020-05-04 21:01:28.806711
sunny 2020-05-04 21:01:28.607697
kate 2020-05-04 21:00:29.421323
kany 2020-05-04 21:00:29.421323
robin 2020-05-04 21:00:29.421323
sunny 2020-05-04 21:00:29.298314

# 联表查询

In [21]:
a=session.query(Book).join(Reader).filter(Reader.name=='sunny',Book.auther=='猫腻').all()
print(len(a))
a

4

[<Book(bookname='庆余年', auther='猫腻',reader_id='1')>,
 <Book(bookname='庆余年', auther='猫腻',reader_id='1')>,
 <Book(bookname='庆余年', auther='猫腻',reader_id='1')>,
 <Book(bookname='庆余年', auther='猫腻',reader_id='1')>]

# ORM查询结果转换为dataframe

In [11]:
our_reader = session.query(Reader)
df = pd.read_sql(our_reader.statement, our_reader.session.bind)
df

    id   name  fullname password                 creat_time
0    1  sunny  sunny ho   123456 2020-05-04 21:00:29.298314
1    2   kate   kate Ms   123456 2020-05-04 21:00:29.421323
2    3   kany   kany Mr   123456 2020-05-04 21:00:29.421323
3    4  robin  robin Mr   123456 2020-05-04 21:00:29.421323
4    5  sunny  sunny ho   123456 2020-05-04 21:01:28.607697
5    6   kate   kate Ms   123456 2020-05-04 21:01:28.806711
6    7   kany   kany Mr   123456 2020-05-04 21:01:28.806711
7    8  robin  robin Mr   123456 2020-05-04 21:01:28.806711
8    9  sunny  sunny ho   123456 2020-05-04 21:32:57.722700
9   10   kate   kate Ms   123456 2020-05-04 21:32:58.153734
10  11   kany   kany Mr   123456 2020-05-04 21:32:58.153734
11  12  robin  robin Mr   123456 2020-05-04 21:32:58.154734
12  13  sunny  sunny ho   123456 2020-05-05 17:55:08.195833
13  14   kate   kate Ms   123456 2020-05-05 17:55:08.716470
14  15   kany   kany Mr   123456 2020-05-05 17:55:08.716470
15  16  robin  robin Mr   123456 2020-05-05 17:55:08.716470

In [12]:
books = session.query(Book)
df = pd.read_sql(books.statement, books.session.bind)
df

    id  bookname        auther reader_id
0    1  诡秘之主  爱潜水的乌贼         1
1    2    庆余年          猫腻         1
2    3    庆余年          猫腻         2
3    4    鬼吹灯    烽火戏诸侯         2
4    5  惊悚乐园      三天两觉         3
5    6  诡秘之主  爱潜水的乌贼         1
6    7    庆余年          猫腻         1
7    8    庆余年          猫腻         2
8    9    鬼吹灯    烽火戏诸侯         2
9   10  惊悚乐园      三天两觉         3
10  11  诡秘之主  爱潜水的乌贼         1
11  12    庆余年          猫腻         1
12  13    庆余年          猫腻         2
13  14    鬼吹灯    烽火戏诸侯         2
14  15  惊悚乐园      三天两觉         3
15  16  诡秘之主  爱潜水的乌贼         1
16  17    庆余年          猫腻         1
17  18    庆余年          猫腻         2
18  19    鬼吹灯    烽火戏诸侯         2
19  20  惊悚乐园      三天两觉         3

# 将dataframe写入数据库
采用这种方式写入的表没有主键，外键，及约束，需要手工添加
### 操作方式有append、fail、replace   
### method有{None, ‘multi’, callable}这几个参数,该参数对pandas版本有要求
None :一次只插入1条数据  
multi: 一次插入多条数据  
callabl：callable with signature (pd_table, conn, keys, data_iter). 
### dtype可以指定数据类型，若不指定，sqlalchemy将自动判断数据类型

In [ ]:
import sqlalchemy
df.to_sql(name='dataframe', con=engine, if_exists='fail',dtype={'creat_time':sqlalchemy.types.Date()}, index=False)

# 映射数据库内已存在表(经典映射)
### 可以映射没有主键的表

In [ ]:
from sqlalchemy import MetaData,Table

# 反射整个库
#MetaData对象是一个容器，它描述了数据库的所有结构，特别是Table对象。
metadata = MetaData()
metadata.reflect(bind=engine)
print("数据库内有以下表格:",metadata.tables.keys())
Dataframe = metadata.tables['dataframe']

#映射用一个特殊的行为通过SQLAlchemy的属性为SQL列表达式的来源，c是字段名的命名空间
books = session.query(Dataframe.c.bookname)
df = pd.read_sql(books.statement, books.session.bind)
session.close()
df

# 映射数据库内已存在表(ORM映射)
### 要映射的表必须有主键。此外，如果检测到表是其他两个表之间的纯关联表，则不会直接映射该表，而是将其配置为两个引用表的映射之间的多对多表。
### 因为sqlite并不支持建表后修改主键，或删除列，因此必须使用Navicat修改dataframe的表结构，增加主键后才能反射成功

In [ ]:
from sqlalchemy.ext.automap import automap_base

Base = automap_base()
Base.prepare(engine, reflect=True)
#dataframe是数据库内的表名
Dataframe = Base.classes.dataframe

session=SessionClass()
books = session.query(Dataframe)
df = pd.read_sql(books.statement, books.session.bind)
print(df)

new_book=Dataframe(bookname="恶魔法则",auther="跳舞",reader_id="4")
session.add(new_book)
session.commit()
session.close()

# session使用完必须关闭，否则会造成内存泄漏

In [ ]:
session.close()

# 根据类删除数据库表

In [ ]:
Base.metadata.drop_all(engine)